.vscode
.idea
.git
.playwright-cli
node_modules
dist
build
output
*.log
*.tsbuildinfo
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.next
out
.vercel
.now
.vite
**/.vite
